.fix-width-container {
    max-height: 500px;
    overflow-y: scroll;
}

.year-select {
    border-color: #cdcdcd;
    background-color: white;
    color: #616161;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.reclamations-container {
    border-color: rgb(229, 178, 178);
}